<template>
    <nav :class="{ absolute }">
        <section>
            <nuxt-link to="/">eseed.dev</nuxt-link>
        </section>
        <section>
            <nuxt-link to="/about">About Me</nuxt-link>
            <nuxt-link to="/contact" class="primary">Contact</nuxt-link>
        </section>
    </nav>
</template>

<style scoped>
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    cursor: default;
}

nav.absolute {
    position: absolute;
}

nav a {
    color: var(--primary);
    text-decoration: none;
    padding: 0.5rem;
    margin: 0.5rem;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
}

nav a:not(.primary)::after {
    content: "";
    transition: 0.15s;
    display: block;
    position: absolute;
    margin-top: 0.5rem;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    background: var(--primary);
}

nav a:not(:hover)::after {
    width: calc(100% - 1rem);
}

nav a.primary {
    transition: 0.15s border-radius;
    border-radius: 0.5rem;
    background-color: var(--primary);
    color: var(--background);
}

nav a.primary:hover {
    border-radius: 0.15rem;
}
</style>

<script>
export default {
    props: ["absolute"]
}
</script>