<template>
    <footer>
        <div class="constrain">
            <section>Copyright &copy; 2021 Elijah Seed-Arita</section>
            <section>
                <address>
                    <a href="https://twitter.com/elijaharita"
                        ><ion-icon name="logo-twitter"></ion-icon> @elijaharita
                        (Twitter)</a
                    >
                    <a href="https://github.com/elijaharita"
                        ><ion-icon name="logo-github"></ion-icon> @elijaharita
                        (GitHub)</a
                    >
                    <a
                        href="https://www.youtube.com/channel/UCsr6oBe0bQV6ROZMvePOsJw"
                        ><ion-icon name="logo-youtube"></ion-icon> mmyesrice
                        (YouTube)</a
                    >
                </address>
            </section>
        </div>
    </footer>
</template>

<style scoped>
footer {
    background: var(--foreground);
    padding: 2rem;
    color: white;
    line-height: 2;
}

footer > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

footer address a {
    display: block;
    font-style: normal;
}
</style>