@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&family=Open+Sans&display=swap');

/* -- VARIABLES -- */


:root {
    --primary: #4ba57b;
    --background: #ffffff;
    --foreground: #252526;
    --midtone: #eeeef0;
}




/* -- BASIC ELEMENT STYLES -- */


/* -- structure */

body {
    font-family: "Open Sans", sans-serif;
    color: var(--foreground);
    background: var(--background);
    overflow-x: hidden;
}

main > section:not(.no-padding) {
    padding: 2rem 0.75rem;
}

/* -- text */

h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", sans-serif;
}

h1 {
    font-weight: 200;
    font-size: 2.5em;
}

h2, h3, h4 {
    font-weight: 400;
}

h5, h6 {
    font-weight: 600;
}

a {
    color: var(--primary);
    font-size: 1em;
}

p {
    line-height: 1.75;
}

/* -- forms */

form {
    margin: 3rem 0;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin: -0.5rem;
    flex-wrap: wrap;
}

fieldset > div {
    flex-basis: 20rem;
    flex-grow: 1;
    margin: 0.5rem;
}

label {
    display: block;
    font-size: 0.8em;
    text-transform: uppercase;
}

input, textarea {
    border: none;
    border-bottom: 2px solid var(--midtone);
    transition: 0.15s;
    display: block;
    font: inherit;
    margin: 1rem 0;
    padding: 0.25rem 0;
    width: 100%;
    line-height: 1.25;
    resize: vertical;
    border-radius: 0;
}

textarea {
    height: 10em;
}

/* input directly after label should have less spacing between label */
label + :is(input, textarea) {
    margin-top: 0.5rem;
}

:is(input, textarea):focus {
    border-color: var(--primary);
    outline: none;
}

button {
    background-color: var(--primary);
    border: none;
    color: var(--background);
    padding: 0.5rem 1rem;
}

button:hover {
    cursor: pointer;
}




/* -- SCROLLBAR -- */


::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

::-webkit-scrollbar-thumb {
    background: var(--primary);
}




/* -- TOP LEVEL LAYOUTS -- */


/* the nuxt root element, should be updated for nuxt 3 */
#__layout > * {
    min-height: 100vh;
}

.constrain {
    margin-left: auto;
    margin-right: auto;
    max-width: 60rem;
}




/* -- LOW LEVEL LAYOUTS -- */


/* even separated: a row of items with vertical separator lines between */

.even-separated {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    list-style: none;
    margin: 0;
    padding: 0;
}

.even-separated > :not(:last-child) {
    display: contents;
}

.even-separated > :not(:last-child)::after {
    content: "";
    display: block;
    min-width: 1px;
    min-height: 1px;
    background: var(--foreground);
    margin: 0 0.5rem;
}




/* -- COLOR OVERRIDES -- */


.primary-color {
    color: var(--primary);
}