<template>
    <div>
        <common-nav></common-nav>
        <main>
            <section class="constrain">
                <h1>About Me</h1>
                <div class="desktop-columns">
                    <section>
                        <p>
                            My name's Elijah Seed-Arita. My first experience
                            with programming was writing MS batch scripts with
                            my friend when I was 9. I started coding 2D games in
                            Java soon after, and later picked up C++ to learn
                            about 3D rendering using OpenGL and subsequently
                            Vulkan.
                        </p>
                        <p>
                            In 2019 I started coding in Rust, a modern and
                            extremely popular low level language like C++, which
                            I now use primarily. I also started seriously
                            focusing on web development around this time.
                        </p>
                        <p>
                            Learning is part of my development process. I make
                            an effort to push beyond what I already know in
                            order to bring the best results that I can. I do my
                            own research from primary sources including
                            published language specifications, dissertations,
                            and API docs, and I make sure to test out and gain
                            actual first-hand experience in different tools
                            before I make decisions regarding them or discuss
                            them with clients.
                        </p>
                    </section>
                    <section>
                        <h2>Technical Skills</h2>
                        <h3>Languages</h3>
                        <ul>
                            <li>Rust</li>
                            <li>HTML / CSS / JavaScript</li>
                            <li>C++</li>
                            <li>Java</li>
                            <li>C#</li>
                        </ul>
                        <h3>Frameworks</h3>
                        <ul>
                            <li>Nuxt.js</li>
                        </ul>
                        <h3>Tools</h3>
                        <ul>
                            <li>Docker</li>
                            <li>PostgreSQL / MySQL</li>
                        </ul>
                        <h3>Services</h3>
                        <ul>
                            <li>Netlify</li>
                            <li>NameCheap</li>
                            <li>DigitalOcean</li>
                            <li>Vultr</li>
                        </ul>
                    </section>
                </div>
            </section>
            <section class="constrain">
                <p>
                    If you're interested in hiring me,
                    <nuxt-link to="/contact">send me an email</nuxt-link>!
                </p>
            </section>
        </main>
        <common-footer></common-footer>
    </div>
</template>

<style scoped>
.desktop-columns {
    display: flex;
    flex-wrap: wrap;
    margin: -2rem;
}

.desktop-columns > section {
    margin: 2rem;
}

.desktop-columns > section:first-child {
    flex-basis: 20rem;
    flex-grow: 1;
}
</style>