<template>
    <div>
        <common-nav></common-nav>
        <main>
            <section class="constrain">
                <h1>Contact Me</h1>
                <p>
                    If you'd like to discuss a web development project, ask a
                    question, or just talk, you can either send me a message
                    here or email me directly at
                    <a href="mailto:elijaharita@gmail.com"
                        >elijaharita@gmail.com</a
                    >. Hope to hear from you soon!
                </p>
                <form
                    action="https://formsubmit.co/elijaharita@gmail.com"
                    method="POST"
                >
                    <fieldset>
                        <div>
                            <label for="email">Email</label>
                            <input
                                type="email"
                                name="email"
                                id="email"
                                autocomplete="email"
                                required
                            />
                        </div>
                        <div>
                            <label for="subject">Subject</label>
                            <input type="text" name="_subject" id="subject" />
                        </div>
                    </fieldset>
                    <fieldset>
                        <div>
                            <label for="message">Message</label>
                            <textarea name="message" id="message"></textarea>
                        </div>
                    </fieldset>
                    <button>Send</button>
                    <input type="hidden" name="_template" value="box">
                    <input type="hidden" name="">
                </form>
            </section>
        </main>
        <common-footer></common-footer>
    </div>
</template>