<template>
    <div>
        <common-nav absolute="true"></common-nav>
        <main>
            <section id="intro" class="no-padding">
                <div>
                    <h1>eseed<span class="primary-color">.dev</span></h1>
                    <ul class="even-separated">
                        <li>Web Development</li>
                        <li>Hosting</li>
                        <li>Game Programming</li>
                    </ul>
                </div>
                <ion-icon
                    name="chevron-down-sharp"
                    id="view-more"
                    class="primary-color"
                ></ion-icon>
            </section>
            <section id="recent-work">
                <div class="constrain">
                    <h2>Recent Work</h2>
                    <ul>
                        <li>
                            <a href="https://eseed.dev" target="blank">
                                <img
                                    src="~assets/images/sites/eseed.dev.png"
                                    alt="eseed.dev"
                                    width="480"
                                />
                                <h3>eseed.dev (this site!)</h3>
                            </a>
                        </li>
                        <li>
                            <a
                                href="https://kauaiislandmedium.com"
                                target="blank"
                            >
                                <img
                                    src="~assets/images/sites/kauaiislandmedium.com.png"
                                    alt="kauaiislandmedium.com"
                                    width="480"
                                />
                                <h3>kauaiislandmedium.com</h3>
                            </a>
                        </li>
                    </ul>
                </div>
            </section>
            <section id="about" class="constrain">
                <h2>Hello!</h2>
                <p>
                    I'm Elijah, a web developer from the north shore of Kauai,
                    Hawaii. Aside from making websites, I'm also interested in
                    game and graphics programming as a hobby, as well as digital
                    art! I've been programming since 2012.
                </p>
                <p>
                    If you're looking to hire a web developer, I invite you to
                    <nuxt-link to="/about">check my bio</nuxt-link> and
                    <nuxt-link to="/contact">get in contact.</nuxt-link>
                </p>
                <p>Have a great day!</p>
            </section>
        </main>
        <common-footer></common-footer>
    </div>
</template>

<style scoped>
#intro {
    width: 100vw;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: calc(min(1em, 3vw));
}

#intro h1 {
    margin: 0;
    font-size: 6em;
}

#intro ul {
    text-transform: uppercase;
    font-size: 0.9em;
    margin: 0 0.4rem;
}

#view-more {
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
    font-size: 4rem;
}

#recent-work {
    background: var(--midtone);
}

#recent-work ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    overflow-x: scroll;
    margin: -0.5rem;
    flex-wrap: wrap;
}

#recent-work li {
    flex-basis: 40%;
    min-width: 12rem;
    text-align: center;
    margin: 0.5rem;
}

#recent-work li img {
    max-width: 100%;
}

#recent-work h3 {
    font-size: 1em;
    
}
</style>