<template>
    <div>
        <common-nav></common-nav>
        <main>
            <section class="constrain">
                <h1>Web Development</h1>
                <p>
                    I am a full stack web developer. I code websites and
                    backends from scratch, allowing for greater flexibility,
                    better search engine performance, and faster load times. I
                    offer the following services:
                </p>
                <div>
                    <h2>Front End</h2>
                    <p>
                        I design and code website front ends using HTML, CSS,
                        and JavaScript, using the Nuxt.js framework.
                    </p>
                    <h2>Back End</h2>
                    <p>
                        I set up and develop back end systems, such as databases
                        and APIs using the Rust language.
                    </p>
                    <h2>Hosting</h2>
                    <p>I manage hosting and maintenance.</p>
                </div>
            </section>
        </main>
        <common-footer></common-footer>
    </div>
</template>